'scopeName': 'source.uci'
'name': 'OpenWrt UCI'
'filetype': [ 'uci' ]
'patterns': [
        {
                'match': '^\\s*\\bpackage\\b'
                'name': 'string.package.uci'
        }
        {
                'match': '^\\s*\\bconfig\\b'
                'name': 'entity.name.class.config.uci'
        }
        {
                'match': '^\\s*\\boption\\b'
                'name': 'entity.name.instance.option.uci'
        }
        {
                'match': '^\\s*\\blist\\b'
                'name': 'entity.name.tag.list.uci'
        }
        {
                'match': '^\\s*#'
                'name': 'comment.uci'
        }
        {
                'match': '\\s\'(?i:(1|yes|on|true|enabled|0|no|off|flase|disabled))\'\\s'
                'name': 'constant.other.boolean.uci'
        }
        {
                'match': '\\s\"(?i:(1|yes|on|true|enabled|0|no|off|flase|disabled))\"\\s'
                'name': 'constant.other.boolean.uci'
        }
]
