'scopeName': 'source.uci'
'name': 'OpenWrt UCI'
'fileTypes': [ 'uci' ]
'patterns': [
        {
                'match': '^\\s*\\bpackage\\b'
                'name': 'string.package.uci'
        }
        {
                'match': '^\\s*\\bconfig\\b'
                'name': 'entity.name.class.config.uci'
        }
        {
                'match': '^\\s*\\boption\\b'
                'name': 'entity.name.instance.option.uci'
        }
        {
                'match': '^\\s*\\blist\\b'
                'name': 'entity.name.tag.list.uci'
        }
        {
                'match': '^\\s*#.*$'
                'name': 'comment.uci'
        }
        {
                'match': '(\'|\")(?i:(1|yes|on|true|enabled|0|no|off|flase|disabled))\\1'
                'name': 'constant.other.boolean.uci'
        }
]
