'scopeName': 'source.ucicfg'
'name': 'OpenWrt UCI Config File'
'fileTypes': [ 'ucicfg' ]
'patterns': [
        {
                'match': '^\\s*(package)\\s'
                'captures':
                        '1':
                                'name': 'entity.other.inherited-class.ucicfg.package'
                'comment': 'sequences like: package <pkgName>'
        }
        {
                'match': '^\\s*(config)\\s'
                'captures':
                        '1':
                                'name': 'entity.name.class.ucicfg.config'
                'comment': 'sequences like: config <sectionType> [<sectionName>]'
        }
        {
                'match': '^\\s*(option)\\s'
                'captures':
                        '1':
                                'name': 'entity.name.tag.ucicfg.option'
                'comment': 'sequences like:     option <optName> <optValue>'
        }
        {
                'match': '^\\s*(list)\\s'
                'captures':
                        '1':
                                'name': 'entity.name.tag.ucicfg.list'
                'comment': 'sequecens like:     list <listName> <listValue>'
        }
        {
                'match': '^\\s*#.*$'
                'name': 'comment.line.ucicfg'
                'comment': 'comments, lines start with #'
        }
        {
                'match': '(\\s|\'|\")(?i:(1|yes|on|true|enabled|0|no|off|flase|disabled))\\1'
                'name': 'constant.other.boolean.ucicfg'
                'comment': 'boolean variables in uci data files'
        }
        {
                'match': '(\'|\")(.*)(\\1)'
                'name': 'string.quoted.ucicfg'
                'captures':
                        '1': 'string.quoted.start.ucicfg'
                        '2': 'string.quoted.content.ucicfg'
                        '3': 'string.quoted.end.ucicfg'
                'comment': 'sequecens like: \"XXX\" or \'XXX\''
        }
]
