'scopeName': 'source.ucicmd'
'name': 'OpenWrt uci command'
'fileTypes': [ 'ucicmd' ]
'patterns': [
        {
                'match': '\\buci\\b'
                'name': 'entity.other.inherited-class.ucicmd'
        }
        {
                'match': '^\\s*\\b(batch|export|import|changes|commit|add|add_list|del_list|show|get|set|delete|rename|revert|reorder)\\b'
                'name': 'entity.other.attribute-name.ucicmd'
        }
        {
                'match': '<config>'
                'name': 'string.ucicmd'
        }
        {
                'match': '<section>'
                'name': 'entity.name.tag.ucicmd'
        }
        {
                'match': '<option>'
                'name': 'entity.name.instance.ucicmd'
        }
        {
                'match': '-\\w\\b'
                'name': 'variable.parameter.ucicmd'
        }
]
