'scopeName': 'source.ucicmd'
'name': 'OpenWrt uci command Usage'
'fileTypes': [ 'ucicmd' ]
'patterns': [
        {
                'match': '\\buci\\b'
                'name': 'keyword.ucicmd'
        }
        {
                'match': '^\\s*\\b(batch|export|import|changes|commit|add|add_list|del_list|show|get|set|delete|rename|revert|reorder)\\b'
                'name': 'constant.other.subcmd.ucicmd'
        }
        {
                'match': '<config>'
                'name': 'entity.name.class.ucicmd'
        }
        {
                'match': '<section>'
                'name': 'entity.name.instance.ucicmd'
        }
        {
                'match': '<option>'
                'name': 'entity.name.tag.ucicmd'
        }
        {
                'match': '-\\w\\b'
                'name': 'string.parameter.ucicmd'
        }
        {
                'match': '([+-])?([^.=]*)\.([^.=]*)(\.([^.=]*))?=(\'.*\')'
                'name': 'string.ucicmd'
                'captures':
                        '1':
                                'name': 'constant.other.character.ucicmd'
                        '2':
                                'name': 'entity.name.class.ucicmd'
                        '3':
                                'name': 'entity.name.instance.ucicmd'
                        '5':
                                'name': 'entity.name.tag.ucicmd'
                        '6':
                                'name': 'string.parameter.ucicmd'
                'comment': 'for command uci changes and temporary files contents'
        }
        {
                'match': '^\\s*#.*$'
                'name': 'comment.line.ucicfg'
                'comment': 'comments, lines start with #'
        }
]
